/*IMPORTANT: You can use ctrl-F to quickly navigate this page.

             Use the same set of colors and designs across the entire website.

             Any changes you wish to implement for the mobile version
             of your page should be done near the bottom of this file,
             where specified.

             If you need a button, I have created a custom class themed for
             our website. Simply create an "a" tag with the class "custom-button"
             or copy paste this: 
             
             <a href="" class="custom-button">Hello</a>

             There are also subtitle and subtitle-secondary classes for use wherever
             you would like to include them.
*/

/*Basic styling */
body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #272727;
}

a {
    text-decoration: none;
}

hr {
    width: 80%;
    margin: auto;
    border: 1px solid #2bae66ff;
    opacity: 1;
}

a:hover{
    color: #2bae66ff;
}

.custom-button {
    padding: 10px 10px 10px 10px;
    background-color: #2bae66ff;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    display: inline-block;
}

.custom-button:hover {
    background-color: white;
    border: 2px solid #2bae66ff;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.subtitle {
    text-align: center;
    font-size: 22px;
    color: #2bae66ff;
    border: 2px solid #2bae66ff;
    border-radius: 2px;
}

.subtitle-secondary {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #2bae66ff;
    text-decoration: underline;
}

.fas {
    padding: 0 8px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 36px;
}

.page-width {
    width: 980px;
    margin: auto;
}

.main {
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
    border: solid #cccdd3;
    border-width: 1px;
    padding-bottom: 80px;
    padding-top: 50px;
}

/* Food ad-box styling */
.aisle .col-md-6{
    margin: auto;
}

.advertisement-holder {
    padding-top: 27px;
    padding-bottom: 15px;
    margin-bottom: 28px;
    border: 2px solid #dbdbdb;
    border-radius: 4px;
    text-align: center;
}

.advertisement-holder:hover {
    border-color: #2bae66ff;
}

.aisle img {
    width: 100%;
}

.img-holder {
    width: 200px;
    margin: auto;
}

.info-holder {
    margin: 8px 15px;
}

.aisle .food-name {
    margin: 15px 0 0 0;
    font-size: 20px;
    color: #272727;
}

.aisle .food-name:hover {
    color: #2bae66ff;
    text-decoration: underline;
}

.aisle .food-details {
    margin-bottom: 8px;
}

.aisle .food-price {
    font-size: 18px;
}

/* Header styling */
.heading {
    width: 75%;
    margin: auto;
}

.header-userpage {
    text-align: right;
    padding: 10px 0;
    background-color: #161616;
}

.header-userpage a {
    color: white;
}

.header-userpage a:hover {
    text-decoration: underline;
}

header {
    background-color: white;
    border: solid #cccdd3;
    border-width: 0 0 1px;
    padding: 1px 0;
}

.header-name {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 800;
    margin: 5px 0;
    padding: 0px;
}

.header-name a {
    background-color: white;
    color: #2bae66ff;
    padding: 5px 12px;
    border-radius: 4px;
}

.header-name a:hover {
    border: 3px solid #2bae66ff;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

/* Aisle menu desktop */
.aisle-menu {
    width: 110px;
    margin-top: 8px;
    position: relative;
    float: right;
    right: 125px;
}

.aisle-box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 110px;
    color: white;
    font-size: 18px;
    background-color: #2bae66ff;
    border-radius: 4px;
    padding: 5px 0;
}

.aisle-menu ul {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 7px grey;
    border-radius: 2px;
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    font-size: 18px;
}

.aisle-menu ul a {
    color:#272727
}

.aisle-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.aisle-menu ul li a {
    width: 110px;
    display: block;
    padding: 10px 00px;
}

.aisle-menu ul li a:hover {
    border: 2px solid #2bae66ff;
    border-radius: 4px;
    text-decoration: underline;
    color: #2bae66ff;
}

.aisle-menu:hover ul {
    display: block;
}

/* Aisle menu mobile */
.dropdown {
    display: none;
    float: right;
    display: relative;
    top: 12px;
    right: 3px;
}

header .btn-secondary {
    background-color: white !important;
    color: #2bae66ff !important;
    border-color: #2bae66ff;
    font-weight: 600;
    padding-right: 15px;
    padding-left: 15px;
}

header .dropdown-menu a {
    padding: 12px 0px 12px 15px;
}

header .dropdown-menu a:focus {
    color: #2bae66ff;
    background-color: white;
    border: 2px solid #2bae66ff;
    border-radius: 4px;
}

/* Check cart button desktop */
.cart-check {
    position: relative;
    top: 31px;
    left: 12px;
}

.cart-check .custom-button {
    padding: 10px 30px 10px 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.fas.fa-shopping-cart {
    font-size: 20px;
    padding-right: 2px;
}

/* Sidebar Styling */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 20px;
    color: white;
}

.icon-bar a:hover {
    background-color: #2bae66ff;
}
  
.facebook {
    background: #3B5998;
}
  
.twitter {
    background: #55ACEE;
}
  
.pinterest {
    background: #E60023;
    color: white;
}
  
.tumblr {
    background: #34526f ;
}
  
.email {
    background: #641126;
}

/* Footer styling */
footer {
    color: white;
    background-color: #161616;
    margin: 0;
    padding: 20px 0 10px;
}

.footer-name {
    margin-top: 10px;
}

.footer-name a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 28px;
}

footer a:hover {
    text-decoration: underline;
}

footer .col-lg-3, footer .col-lg-6, footer .col-md-12 {
    padding: 0;
}

.icon-bar-foot {
    text-align: center;
}

.icon-bar-foot a {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 20px;
}

.icon-bar-foot i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.icon-bar-foot a:hover {
    background-color: #2bae66ff;
}

.contact {
    margin-top: 12px;
    text-align: right;
}

.contact a {
    font-size: 20px;
    color: white;
}

/* Homepage Banner Styling */
.banner {
    width: 100%;
    margin: 0 auto 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.banner h2 {
    font-size: 38px;
    text-decoration: underline;
    margin-top: 45px;
}

.banner h3 {
    margin-bottom: 35px;
}

.banner-button {
    background-color: #5cdb95;
    margin: 25px auto;
    width: 180px;
    padding: 5px;
    border: 3px solid #2bae66ff;
    border-radius: 5px;
    color: white !important;
}

a .banner {
    color: white;
    background-color: #2bae66ff; 
}

.banner .col-lg-3, .banner .col-lg-6, .banner .col-md-12 {
    padding: 0;
}

a .banner:hover {
    color: #2bae66ff;
    background-color: white;
    border: 5px solid #2bae66ff;
    border-radius: 4px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.banner img {
    width: 100%;
}

/*****************************/
/* Responsiveness styling */
/*****************************/

@media (max-width: 1140px) {
    
    hr {
        width: 85%;
    }
    
    .icon-bar {
        display: none;
    }
}

/* Most changes for the mobile version of your page should be specified here.
 If you want an element to disappear entirely when the user is on mobile, simply
 give that element the class "desktop-only" in your HTML file.*/
@media (max-width: 992px) {

    .page-width {
        width: 90%;
    }

    hr {
        width: 90%;
    }

    .desktop-only {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    footer {
        padding: 10px 0 15px;
    }

    footer .row, .contact {
        text-align: center;
    }

    .icon-bar-foot {
        padding: 5px 0;
    }

    .banner h3 {
        margin-bottom: 15px;
    }

    .banner-button {
        margin-top: 15px;
    }

    .banner h2 {
        margin-top: 21px;
    }
}

@media (max-width: 750px) {

    .page-width {
        width: 95%;
    }

    hr {
        width: 95%;
    }

    .header-name {
        font-size: 30px;
    }

    .dropdown {
        top: 8px;
    }
}