<!-- This is a template for a box that contains a food and info on the food.
    Simply copy-paste this code wherever you need to and alter the words, images, and links.
    
    IMPORTANT: Wherever you use these boxes, they MUST be nested within a div with
                the class "aisle row", or they will not work.
            
                Also, any image you use MUST be cropped into a pixel-perfect square.
                Otherwise, the alignment of the boxes will fail. You can crop into a perfect
                square with the default Windows 10 photo viewer, as well as many other tools-->

<div class="col-lg-4 col-sm-6">
    <div class="advertisement-holder">
        <div class="img-holder">
            <a href=""><img src="img/chicken.jpg" alt="chicken"></a>
        </div>
        <div class="info-holder">
            <a href=""><p class="food-name">Fresh Chicken</p></a>
            <p class="food-details">1.5 kg</p>
            <p class="food-price">7.99$</p>
            <a href="" class="custom-button">Add to Cart</a>
        </div>
    </div>
</div>